.post-content {
  flex-direction: column;
}

.post-content__title {
  font-family: "Lato";
  font-size: 48px;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 32px;
}

.post-content__body {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 32px;
}